{% extends 'base.html.twig' %}

{% block title %}Listes des auteurs
{% endblock %}

{% block body %}
  <div class="example-wrapper container">
    <h1>
      {{ title }}
    </h1>
    <a href="{{ path('app_author_new') }}">Nouveau</a>
    <table class="table table-striped">
      <thead>
        <td>Nom</td>
        <td colspan="2">Action</td>
      </thead>
      <tbody>
        {% for author in authors %}
          <tr>
            <td>{{author.name}}</td>
            <td>
              <a href="{{ path('app_author_show', {id:author.id}) }}" class="btn btn-primary">Voir</a>
            </td>
            <td>
              <a href="{{ path('app_author_edit', {id:author.id}) }}" class="btn btn-info">Edit</a>
            </td>
          </tr>
        {% else %}
          <tr>
            Aucun livre à afficher
          </tr>
        {% endfor %}
      </tbody>

    </table>

  {% endblock %}
